body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
}

header {
    background: #EEE;
    padding: 20px 0;
}

header > h1 {
    font-size: 26px;
    margin: 0;
    padding: 0;
}

.dynamic-map {
    width: 75%;
    min-height: 800px;
    background: #EEE;
    float: left;
}

.map-sidebar {
    width: 25%;
    min-height: 800px;
    background: #CCC;
    float: left;
}


 #map {
    position: absolute;
    top: 71px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 75%;
}

/*Boxes*/
.box {
    padding: 10px;
}

.box img {
    width: 100%;
    border-radius: 50%;
}

.image {
    margin-top: 10px;
    float: left;
    width: 30%;
}

.info {
    width: 70%;
    float: left;
    border-bottom: 1px solid #F1F1F1;
}

.box p {
    margin: 10px;
}